.has-font-courier {
    font-family: 'Courier New', serif;
}

@media (max-width: $breakpoint-small) {
    .uk-grid > * {
        padding: 0 10px;
    }
    .uk-padding {
        padding: 10px;
    }
}
