/*--------------------------------------------------------------
 CONTENTS:
----------------------------------------------------------------
1.0 Top
2.0 Website Development
3.0 UI/UX Design
4.0 Photography
5.0 Contact me
--------------------------------------------------------------*/

.top-name {
    color: $green;
    font-size: 18px;
    text-transform: uppercase;
    .uk-flex:hover .blinking {
        animation-name: blink;
        animation-duration: 0.9s;
        animation-iteration-count: infinite;
    }
    .blinking {
        padding-right: 5px;
    }
}

/*--------------------------------------------------------------
 1.0 TOP
--------------------------------------------------------------*/
section#top {
    .navbar {
        .uk-navbar-nav a {
            font-size: 12px;
            color: $dark-gray;
            min-height: 0;
        }
        .uk-navbar-dropdown {
            box-shadow: none;
            padding: 15px;
        }
    }
    .about-text {
        line-height: 26px;
        opacity: 1;
        a {
            font-weight: 600;
        }
        &--hidden {
            opacity: 0;
        }
    }
    .uk-divider-small {
        margin-top: 60px;
        &:after {
            border-color: $green;
            border-width: 4px;
            width: 150px;
        }
    }
}


/*--------------------------------------------------------------
 2.0 WEBSITE DEVELOPMENT
--------------------------------------------------------------*/
section#development {
  color: $dark-gray;
  hr {
      border-color: $dark-gray;
      border-width: 2px;
      margin: 20px 0;
  }
  .uk-grid-match {
      margin: 80px 0;
  }
}


/*--------------------------------------------------------------
 3.0 UI/UX DESIGN
--------------------------------------------------------------*/
section#design {
    .image {
        background-color: $dark-gray;
        height: 500px;
        text-align: center;
        img {
            height: 350px;
        }
        .image-caption {
            color: $bg-color;
            padding-bottom: 10px;
        }
    }
    .right-column {
        padding-left: 0;
    }
}


/*--------------------------------------------------------------
 4.0 PHOTOGRAPHY
--------------------------------------------------------------*/
section#photography {
    .image-caption {
        padding-bottom: 30px;
    }
}


/*--------------------------------------------------------------
 5.0 CONTACT ME
--------------------------------------------------------------*/
.pacman-bathroom {
    background-color: $green;
    &__image {
      background-image: url('/assets/pacman-bathroom.png');
      background-position: center;
      background-size: cover;
      height: 700px;
    }
}

section#contact {
    background-color: $dark-gray;
    color: $bg-color;
    .section__title {
        color: $bg-color;
    }
    .uk-icon-link:active, .uk-active > .uk-icon-link, .uk-icon-link:hover, .uk-icon-link:focus {
        color: $green;
    }
}
