a {
    color: $green;
}

p {
    line-height: 1.8;
}

h1, h2 {
    letter-spacing: 2px;
}

.image-caption {
    color: $dark-gray;
    font-family: 'Courier New', serif;
    font-size: 10px;
    font-weight: 600;
    padding: 0 5px;
}
